extends layout
block content
    h1 Admin Panel
    p Manage all users and their posts.
    h2
        a(href="/admin/users", class=`button-to-go-to-other-page`) Manage users
    h2
        a(href="/admin/news", class=`button-to-go-to-other-page`) Manage posts