doctype html
html
    head
        title Social Network
        link(rel="stylesheet" href="/css/styles.css")
        div.admin-panel-top-button
            a(href="/admin", class=`button-to-go-to-other-page`) Admin panel
    body
        block content